.items {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.item {
		position: relative;
		margin-top: 20px;
		width: 700px;
		height: 165px;
		border-bottom: #222222 solid 1px;
}

.item .itemLink {
	position: absolute;
	background-color:#333333;
	font-size: larger;
	width: 250px;
	border-bottom:1px solid #222222;
	padding:5px;
	color: #B8B8B8;
}

.item .miniImage {
	position: absolute;
	top: 50px;
	left: 20px;
}

.item img {
	width: 110px;
	height: 110px;
}

.item .extraItemInfo {
	position: absolute;
	width: 160px;
	top: 60px;
	left: 450px;
}

.item .price {
	font-weight: bold;
	font-size: medium;
}

.item .cartDiv {
	position: absolute;
	width: 150px;
	font-size: 14px;
}

.item .cartDiv img {
	display: inline;
	width: 20px;
	height: 20px;
}

.addToCart {
	color: #11ee11;
	font-weight: bold;
	font-size: medium;
}

.removeFromCart {
	color: #ee1111;
	font-weight: bold;
	font-size: medium;
}

