.cart {
	height: 800px;
	float: right;
	width: 24%;
	left: 75.9%;
	display: block;
	border: 1px solid #00aa44;
	background-color: #ffffff;
}

/*PARTE SUPERIOR*/

.cartTitle {
	text-align: right;
	color: #000000;
	font-size: 20px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #000000;
}

.cartTitle input {
	float: left;
	height: 30px;
	width: 30px;
}

.cartTitle .verticalSpacer {
	height: 10px; 
	width: 0;
    visibility: hidden;
    vertical-align: middle;
    display: block;
}

/*TABLA DE ITEMS*/
table {
	table-layout:fixed;
	border-collapse: collapse;
}

#cartItemsTable td {
	border-bottom: 1px dashed #333;
	padding: 2px 5px;
	white-space:nowrap;
	overflow:hidden;
}

.removerCol {
	width: 1%;
}

.informationCol {
	width: 100px;
}

.priceCol {
	width: 1%;
}

.selectorCol {
	width: 1%;
}

.crop {
	width: inherit;
}

/* Selector de cantidad */

.selector {
	float: right;
	width: auto;
}

.selector span {
	display: table-cell;
	width: 40px;
	font-size: 15px;
	color: #000000;
	border: 1px solid #000000;
	text-align: center;
}

.selector .arrows {
	display: table-cell;
	width: 10px;
	height: 100%;
}

.selector .arrows input {
	float: right;
	height: 5px;
	width: 10px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 5px;
}

.cartItems input {
	float: left;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	margin-right: 10px;
	border: 1px solid #000000;
}

/*PARTE INFERIOR*/

.cartFooter {
	height: 30px; 
	width: 100%;
	top: 500px;
	text-align: center;
	border-top: 3px groove #555555;
	padding-top: 5px;
}

.cartFooter .label {
	font: bold 16px Arial;
	float: left;
	width: 30%;
}

.cartFooter #cartTotalPrice {
	font: bold 16px Arial;
	float: left;
	width: auto;
}

.cartFooter #cartTotalPriceCurrency {
	font: bold 16px Arial;
	float: left;
	width: auto;
	margin-right: 5px;
}

.cartFooter a {
	float: right;
	width: 30%;
	text-align: left;
	font-size: 17px;
}
