#cart {
	position:absolute;
	display: block;
	background-color: #ffffff;
	margin-top: 2px;
	border: 2px solid #000000;
	right: 0%;
	width: 23.7%;
}

#cart .title {
	text-align: right;
	color: #000000;
	font-size: 20px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #000000;
}

#cart .title input {
	float: left;
	height: 30px;
	width: 30px;
}

#cart .title .verticalSpacer {
	height: 10px; 
	width: 0;
	visibility: hidden;
	vertical-align: middle;
	display: block;
}

#cart .cartItems {
	position: relative;
	margin: 0 3px;
	min-height: 350px;
	/*overflow: auto;*/
}

#cart .cartItems .itemContainer {
	position: relative;
	display: block;
	overflow: visible;
	margin: 5px;
	width: 100%;
	height: 70px;
}

#cart .cartItems .itemInfo {
	float: left;
	height: 60px;
	width: 100%;
}

#cart .cartItems .itemInfo .image {
	float: left;
	margin: 6px 5px 0 3px;
}

#cart .cartItems .itemInfo .image img {
	height: 50px;
	width: 50px;
	border: 0 none;
	display: inline;
}

#cart .cartItems .itemInfo .desc {
	float: left;
	height: 45px;
	margin: 4px 0 0;
	width: 70%;
}

#cart .cartItems .itemInfo .desc .name {
	font-weight: bold;
	font-size: 15px;
	display: block;
	margin-bottom: 3px;
}

#cart .cartItems .itemInfo .desc .price {
	color: #ff0000;
	font-weight: bold;
	font-size: 15px;
}

#cart .cartItems .itemInfo .desc .quantity {
	font-size: 13px;
}

#cart .cartItems .itemInfo .desc input {
	display: inline;
	height: 10px;
	width: 10px;
	margin: 1px;	
	margin-left: 5px;
}

#cart .cartItems .itemRemover {
	position: absolute;
	top: 20px;
	left: 90%;
	background: url("../images/cart/x3small.png") no-repeat scroll left top;
	cursor: pointer;
	height: 20px;
	width: 20px;
}

#cart .cartItems .quantitySelector {
	position: absolute;
	display: inline;
	left: 50%;
}

#cart .cartFooter {
	background-color: inherit;
	position: relative;
	/*top: 100%;*/
	height: 40px; 
	width: 99.3%;
	left: -1px;
	text-align: center;
	border: inherit;
	padding-top: 10px;
}

#cart .cartFooter .label {
	font: bold 17px Arial;
	float: left;
	width: 30%;
}

#cart .cartFooter #cartTotalPriceCurrency {
	font: bold 16px Arial;
	float: left;
	width: auto;
	margin-right: 5px;
	color: #009900;
}

#cart .cartFooter #cartTotalPrice {
	font: bold 16px Arial;
	color: #009900;
	float: left;
	width: auto;
}

#cart .cartFooter a {
	position: absolute;
	top: 2px;
	left: 69%;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

/*------HIDDEN CART-----*/

#hiddenCart {
	position:absolute;
	display: block;
	background-color: #ffffff;
	margin-top: 2px;
	border: 2px solid #000000;
	right: 0%;
	width: 4.7%;
	height: 400px;
}

#hiddenCart .imageCont {
	position: absolute;
	top: 10px;
	left: 15px;

}

#hiddenCart .imageCont input {
	height: 30px;
	width: 30px;
	border: 0 none;
	display: inline;
}

