.cart {
	height: 800px;
	float: right;
	width: 24%;
	left: 75.9%;
	display: block;
	border: 1px solid #00aa44;
	background-color: #ffffff;
}

/*PARTE SUPERIOR*/

.cartTitle {
	text-align: right;
	color: #000000;
	font-size: 20px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #000000;
}

.cartTitle input {
	float: left;
	height: 30px;
	width: 30px;
}

.cartTitle .verticalSpacer {
	height: 10px; 
	width: 0;
    visibility: hidden;
    vertical-align: middle;
    display: block;
}

/*PARTE DE LA LISTA DE ITEMS*/

#cartItemsList ul {
	color: #aa0000;
	list-style-type: none;	/*Sin iconos*/
	padding-left:5px;		/*Sobreescribe el tab default de la lista*/
}

.cartItems li {
	height: 25px;
	width: 100%;
	margin-bottom: 4px;
	overflow: hidden;
}

/*COMPONENTES DE CADA ITEM*/

.cartItems input {
	float: left;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	margin-right: 10px;
	border: 1px solid #000000;
}

.itemInformation {
	display: inline;
	width: 10px;
}

.itemInformation .cartItemPrice {
	display: inline;
	margin-left: 15px;
}

.selector {
	float: right;
	width: auto;
}

.selector span {
	display: table-cell;
	width: 40px;
	font-size: 15px;
	color: #000000;
	border: 1px solid #000000;
	text-align: center;
}

.selector .arrows {
	display: table-cell;
	width: 10px;
	height: 100%;
}

.arrows input {
	float: right;
	height: 5px;
	width: 10px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 5px;
}

/*PARTE INFERIOR DEL CARRITO*/

.cartFooter {
	height: 30px; 
	width: 100%;
	top: 500px;
	text-align: center;
	border-top: 3px groove #555555;
	padding-top: 5px;
}

.cartFooter .label {
	font: bold 16px Arial;
	float: left;
	width: 30%;
}

.cartFooter #cartTotalPrice {
	font: bold 16px Arial;
	float: left;
	width: auto;
}

.cartFooter a {
	float: right;
	width: 30%;
	text-align: left;
	font-size: 17px;
}
