.categories {
	position: relative;
	width: 100%;
}

.categories h1{
	color: #ff0000;
}

.category {
	color: #ff0000;
	width: 100px; 
	height: 110px;
}

.category.image {
	height: 100px;
	width: 100px;
}

.category {
	position: relative;
	text-align:center;
	padding: 5px 45px;
	float:left;
}

.image {
	height: 200px;
	width: 200px;
}

.category p {
	color: #ff0f00;
	font-size:18pt;
}