.categories 
{
	position: relative;
	width: 90%;
}

.category 
{
	position: relative;
	width: 220px;
	height: 250px;
	margin: 80px;
	text-align:center;
	float:left;
	display: inline;
	border: 1px solid #000000;
}

.image 
{
	height: 200px;
	width: 200px;
}

.category a
{
	text-decoration: underline;
	font-size:18pt;
	line-height: 45px;
}