.categories 
{
	position: relative;
	width: 100%;
}

.categories h1
{
	color: #ff0000;
}

.category 
{
	position: relative;
	text-align:center;
	padding: 0px 70px;
	float:left;
	margin: 15px;
	border:solid 1px #000000;
}

.image 
{
	height: 200px;
	width: 200px;
}

.category p 
{
	color: #ff0f00;
	font-size:18pt;
}