.fieldsCheckout {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 650px;
	
	color: #ffffff;
}

.fieldsCheckout  fieldset {
	margin-top: 30px;
	margin-bottom: 30px;
}

.fieldsCheckout .fieldRow {
	position: relative;
	height: 2.5em;
	left: 10px;
}

.fieldsCheckout .fieldRow input {
	position: absolute;
	left: 17%;
	width: 350px;
}

.fieldsCheckout .cardImges {
	width: 300px;
	height: 50px;
	margin: 10px;
	margin-bottom: 20px;
}

.fieldsCheckout .cancelButton {
	width: 90px;
	height: 40px;
}

.fieldsCheckout .nextButton {
	width: 90px;
	height: 40px;
	float: right;
}