#map_canvas {
	position: inherit;
	width: 650px;
	height: 400px;
	top: 100px;
}

#mapTitle {
	position:absolute;
	text-decoration: underline;
}

#mapContainer {
	position: inherit;
	left: 30%;
	top: 30%;
	top: 20px;
}
