.mainarea .navbar {
	padding: 2px;
	height: 40px;
	top: -8px;
	position: relative;
	border-bottom: #000000 solid 2px;
	background-image:url('images/navbg.jpg');
	background-repeat:repeat-x;
}
 
.mainarea .navbar #breadcrumbholder {
	position: inherit;
}

.mainarea #searchbar {
	position: relative;
	top: 7px;
	float: right;
}

.breadCrumbPosition {
	top: 3px;
}
