.cart-table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	text-align: center;
	border-collapse: collapse;
	width: 600px;
}

.cart-table th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #003399;
}

.cart-table td {
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}

.cart-table #totalPriceRow {
	font-size: 15px;
	color: #000;
	border-top: 1px solid transparent #ffffff;
}

/*
#cart-table tr:hover td {
	background: #d0dafd;
	color: #339;
}*/
