.productContainer {
	height: 1000px;
	margin: 15px;
}
.productContainer .title {
	position: absolute;
	font-size: x-large;
	top: 20px;
	left: 20px;
}
.productContainer img {
 	position: absolute;
 	top: 80px;
 	left: 40px;
	width: 240px;
	height: 240px;
	border: #000000 solid 1px;
}
.productContainer .price {
	position: absolute;
	left: 330px;
	top: 60px;
	font-size: large;
	float: right;
}

.inlineElement {
	display: inline;
}

.productContainer .price p {
	display: inline;
	position: absolute;
}

.productContainer .extrainformation {
	position: absolute;
	top: 390px;
	left: 50px;
}

.productContainer .productDescription {
	position: absolute;
	top: 400px;
	left: 25px;
}

.productContainer .productDescription h2{
	font-size: x-large;
	margin-bottom: 40px;
}

.addtocart {
	color: #11ee11;
	font-weight: bold;
	font-size: medium;
}

.removefromcart {
	color: #ee1111;
	font-weight: bold;
	font-size: medium;
}


.cartToggle {
	position: absolute;
	left: 310px;
	top: 270px;
	
}

.addToCart {
	color: #11ee11;
	font-weight: bold;
	font-size: medium;
}

.removeFromCart {
	color: #ee1111;
	font-weight: bold;
	font-size: medium;
}