/*classes:
product
	|-title
	|-img
	|-description
	|-price
	|-information
	|-reviews
*/
.product
{
	position: relative;
	left: 20px;
}
.product.title
{
	position: inherit;
	font-size: 16pt;
	top: 0px;
}
.product img
{
	position: inherit;
	float: left;
	width: 300px;
	height: 250px;
	top: 30px;
	left: 50px;
}
.product .description
{	
	position: inherit;
	top: 30px;
	left: 150px;
}
.product .price
{
	position: inherit;
	top: 200px;
	left: -570px;
}
.product .information
{
	position: inherit;
	float: left;
	left: 50px;
	top: 100px;
	width: 90%;
}

.product .reviews
{
	position: inherit;
	float: left;
	top: 300px;
}
