.productContainer {
	border: 2px solid #000000;
	text-align: center;
	height: 600px;
}

.productContainer .title {
	position: absolute;
	top: 15px;
	width: 100%;
	font-size: x-large;
}

.productContainer img {
 	position: absolute;
 	left: 40px;
 	top: 90px;
	width: 240px;
	height: 240px;
	border: #000000 solid 1px;
}

.productContainer .price {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 60%;
	top: 30%;
	font-size: large;
}

.productContainer h3 {
	display: inline;
}

.productContainer h2 {
	margin-bottom: 40px;
}
.productContainer p {
	display: inline;
}
	
.productContainer .description {
	position: absolute;
	text-align: left;
	width: 60%;
	left: 10%;
	top: 60%;
}

.productContainer .cartToggle {
	position: absolute;
	z-index: 1000;
	top: 52.5%;
	left: 75%;
	color: #11ee11;
	font-weight: bold;
	font-size: medium;
}

.productContainer input {
	position: absolute;
	top: 52.5%;
	left: 70%;
	width: 25px;
	height: 25px;
}

.productContainer .removeFromCart {
	color: #ee1111;
}

.productContainer a {
	display: inline;
	cursor: pointer;
}

/*.productContainer .extrainformation {
	position: absolute;
	top: 390px;
	left: 50px;
}

.productContainer .productDescription h2{

}

.cartToggle {
	position: absolute;
	left: 310px;
	top: 270px;
}
*/

