body {
	background: #f5f5f5;
	float: left;
	margin: 0;
	padding: 0;
}

.header {
	position: absolute;
	width: 100%;
	height: 110px;
	color: #222;
	top: 0;
	left: 0;
	border-bottom: #000000 solid 2px;
}

.header h1 {
	color: #8b4513;
	text-shadow: 0px 2px 3px #222222;
	position: inherit;
	left: 40%;
	top: 0;
	margin: 40px 0 0 20px;
	font-style: oblique;
	font-family: Helvetica, Verdana, sans-serif;
}

.header #localization {
	position: inherit;
	width: auto;
	right: 1em;
	bottom: 5px;
}

.header #localization p {
	color: #90A0A0;
	float: left;
	margin-right: 0.5em;
}

.header #localization select {
	margin-top: 1em;
}
.header #login {
	color: #000000;
	border: solid 1px #000000;
	background-color: #90A0A0;
	padding: 2px 2px;
	position: inherit;
	right: 1em;
	top: 3em;
}

.header .logintext {
	position: relative;
}

.header .logintext #loginimg {
	background-image: url('images/ui-icons_228ef1_256x240.png');
	background-position: -64px -16px;
	float: right;
	width: 16px;
	height: 16px;
}

.header .loginform {
	color: #000000;
	position: inherit;
	font-size: small;
	right: 0;
	top: 23px;
	margin-left: 10px;
	background: #90A0A0;
	border: 1px #000000 solid;
	width: 270px;
	height: 150px;
	display: none;
}

.header .loginform input {
	width: 10em;
	position: inherit;
	float: right;
}

.header .loginform div {
	margin: 15px;
}

.header .loginform button {
	margin: 5px 0 0 10px;
}

.mainarea {
	position: absolute;
	top: 120px;
	width: 100%;
}

.mainarea .navbar {
	padding: 2px;
	height: 40px;
	position: relative;
	border-bottom: #000000 solid 2px;
}

.mainarea .navbar #breadcrumbholder {
	position: inherit;
}
