body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#mainArea {
 	position: relative;
 	display: block;
	top: 160px;
	width: 100%;
}

#leftArea {
	position: relative;
	float: left;
	width: 75%;
}

#rightArea {
	position: relative;
	float: right;
	width: 25%;
}

#centralArea {
	position: relative;
	float: right;
	margin-top: 20px;
	width: 70%;
	right: 20px;
}

#javascriptIndicator {
	position: absolute;
	width: 100%;
	height: 1000px;
	z-index: 10000;
	background-color: #ffffff;
}

