#settingsPanel {
	width: 650px;
}

#settingsPanel fieldset {
	margin: 25px 0;
}

#settingsPanel fieldset a {
	font-weight: bold;
	color: #0E44FF;
	font-size: bold;
}

#settingsPanel fieldset  legend {
	font-size: 14px;
	font-weight: bold; 
}

#settingsPanel  .title {
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#settingsPanel .fieldRow {
	position: relative;
	height: 2.5em;
	left: 10px;
}

#settingsPanel .fieldRow span {
	font-size: 13px;
}

#settingsPanel .fieldRow select,
#settingsPanel .fieldRow input {
	position: absolute;
	width: 70%;
	left: 20%;
}

#settingsPanel button {
	width: 70px;
	height: 25px;
}
#settingsPanel .submit {
	position: relative;
	right: 50px;
	float:right;
}

/* change user information */
.statusDiv {
	position: absolute;
	width: 300px;
	left: 10%;
	text-align: center;
	font-size: large;
}
.statusWCancelDiv {
	position: absolute;
	width: 300px;
	left: 18.7%;
	text-align: center;
	font-size: large;
}

#settingsPanel  #AddressSelect {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#addAddressForm {
	display: none;
}

#updateAddressForm {
	display: none;
}
