#settingsPanel {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	width: 750px;
	right: 2%;
}

#settingsPanel fieldset {
	margin: 25px 0;
}

#settingsPanel fieldset a {
	font-weight: bold;
}

#settingsPanel fieldset  legend {
	font-size: 14px;
	font-weight: bold; 
}

#settingsPanel  .title {
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#settingsPanel .fieldRow {
	position: relative;
	height: 2.5em;
	left: 10px;
}

#settingsPanel .fieldRow span {
	font-size: 13px;
}

#settingsPanel .fieldRow input {
	position: absolute;
	width: 350px;
	left: 20%;
}

#settingsPanel button {
	width: 80px;
	height: 40px;
}
#settingsPanel .submit {
	position: relative;
	left: 59.5%;
}

/* change user information */
.statusDiv {
	position: absolute;
	width: 300px;
	left: 10%;
	text-align: center;
	font-size: large;
}
.statusWCancelDiv {
	position: absolute;
	width: 300px;
	left: 18.7%;
	text-align: center;
	font-size: large;
}

#changeSettingsStatusDiv p {
}
/*-----add address fieldset------*/

#settingsPanel  .addressFieldSet {
	width: 750px;
	margin: 0px;
}

/*------check address----------*/

#settingsPanel  .checkAddress {
	width: 750px;
	margin: 0px;
}

#settingsPanel  #AddressSelect {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 20px;
}
